
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Raleway',sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: none;
    
}
body{
    background-color: #181b20;
}
.top-container{
    margin-top: 5%;
}
.logo img{
    width: 140px;
    height: 40px;
    margin-bottom: 20px;
}
h1,h2{
    font-weight: bold;
}

.textleft{
    margin-top: 7%;
    color: white;
    transform: scale(1.1);
    padding-right: 10%;
    padding-left: 5%;

}
.image img{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.top-profile{
    width:250px;
    height:50px;
    text-align: center;
    border-radius: 25px;
    border:none;
    background-color: #19a5ffff;
    color: white;
    font-size: 25px;
    font-weight: medium;

}


/* Nav cards */

.card{
    border-radius: 15px;
    justify-content: center;
}
.nav-cards{
    margin-top: 15%;

}
.nav-cards h2{
    margin-top: 7%;
}


.card-myprojects{
    text-align: center;
    width: 100%;
    height: 200px;
    /* background: linear-gradient(180deg, rgba(24,27,32,1) 0%, rgba(142,143,138,1) 64%, rgba(255,255,240,1) 100%);     */
    background: linear-gradient(180deg, rgba(24,27,32,1) 0%, rgba(82,84,84,1) 25%, rgba(255,255,240,1) 83%);
    border: none;
    /* border-left: 15px solid #f00c18ff; */
    
}

.nav-cards img{
width: 100% ;
height: 250px;
margin-top: -35%;
}

.card-chat img{
    width: 90%;
}

.card-chat{
    width: 100%;
    height: 200px;
    text-align: center;
    background: linear-gradient(180deg, rgba(24,27,32,1) 0%, rgba(82,84,84,1) 25%, rgba(255,255,240,1) 83%);
    border: none;
    align-items: center;
    /* border-left: 15px solid #19a5ffff; */
}

.card-myconnections{
    width: 100%;
    height: 200px;
    border: none;

    text-align: center;
    background: linear-gradient(180deg, rgba(24,27,32,1) 0%, rgba(82,84,84,1) 25%, rgba(255,255,240,1) 83%);
    /* background: linear-gradient(180deg, rgba(24,27,32,1) 0%, rgba(82,84,84,1) 25%, rgba(255,255,240,1) 90%); */
    /* border-left: 15px solid #fee719ff; */
}

.search-container{
    margin-top: 5%;
    width: 60%;
}


/* Search */
.input-group,i{
    margin-top: 2%;
    height: 60px;
}

.search-start,.btn-group{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}

.search-start .btn-group button{
    width: 200px;
    height: 60px;
    border-radius: 30px;
    border:none;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: 25px;
}
/* .input-group-append img{
    height: 30px;
} */
#developers{
    background-color: #19a5ffff;
    color: white;
    
}
#projects{
    background-color: white;
    color: black;
}
/* PROFILE CARD */
.design-art {
    margin-top: -17px;
    margin-right: -10px;
    margin-left: -9px;
  }
  
  .circle {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    left: 36%;
    top: -20%;
    background: #181b20;
  }
  
  .card-container .card {
    border-radius: 25px;
    width: 22rem !important;
    margin-top: 80px !important;
  }
  .card-content {
    letter-spacing: 0.1rem;
  }
  
  .card-image {
    margin-top: -20px;
    margin-left: -20px;
    height: 140px;
    width: 140px;
  }
  .profile-card {
    border-top-color: #19a5ffff !important;
    border-top-width: 10px !important;
    border-radius: 10px !important;
  }
  
  .card-body .profile-card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  


  /* Typing effect */
  .typingtext{
    justify-content: center;
    align-items: center;
    display: flex;
  }
  #container {
	text-align: center;
    height: 100px;
   
}

#text,#text1 {
	display: inline-block;
	vertical-align: middle;
	color: white;
	letter-spacing: 2px;
    font-size: 50px;
    font-weight: bold;
    margin-top: 5%;

}
#text{
    font-size: 60px;
    margin-top: 10px;
}
#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 50px;
	background-color: #19a5ffff;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: #19a5ffff; 
	}
}


.projectCards {
    border-radius: 25px;
    width: 22rem !important;
    border-top-color: #19a5ffff !important;
    border-top-width: 10px !important;
    border-radius: 10px !important;
  }
  
  .card-content {
    letter-spacing: 0.1rem;
  }
  
  .card-body .profile-card-text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }